### Алгоритмы интеллектуальной обработки больших объемов данных
## Домашнее задание №3 - Дерево решений

**Общая информация**

**Срок сдачи:** до 30 апреля 2018, 06:00   
**Штраф за опоздание:** -2 балла после 06:00 30 апреля, -4 балла после 06:00 7 мая, -6 баллов после 06:00 14 мая, -8 баллов после 06:00 21 мая

При отправлении ДЗ указывайте фамилию в названии файла   


Присылать ДЗ необходимо в виде ссылки на свой github репозиторий в slack @alkhamush


Используйте данный Ipython Notebook при оформлении домашнего задания.

###### Задание 1 (3 балла)
Разберитесь в коде MyDecisionTreeClassifier, который уже частично реализован. Допишите код там, где написано "Ваш код". Ваша реализация дерева должна работать по точности не хуже DecisionTreeClassifier из sklearn. Точность проверяется на wine и Speed Dating Data.

###### Задание 2 (3 балла)
Добиться скорости работы на fit не медленнее чем в 10 раз sklearn на данных wine и Speed Dating Data. 
Для этого используем numpy.

###### Задание 3 (2 балла)
Добавьте функционал, который определяет значения feature importance. Выведите 10 главных фичей под пунктом Задание 4 (уже написано ниже) для MyDecisionTreeClassifier и DecisionTreeClassifier так, чтобы сразу были видны выводы и по MyDecisionTreeClassifier, и по DecisionTreeClassifier. Используем данные Speed Dating Data.

###### Задание 4 (2 балла)
С помощью GridSearchCV или RandomSearchCV подберите наиболее оптимальные параметры для случайного леса (Выберете 2-3 параметра). Используем данные Speed Dating Data. Задание реализуйте под пунктом Задание 5 (уже написано ниже)


**Штрафные баллы:**

1. Невыполнение PEP8 -1 балл
2. Отсутствие фамилии в имени скрипта (скрипт должен называться по аналогии со stroykova_hw3.ipynb) -1 балл
3. Все строчки должны быть выполнены. Нужно, чтобы output команды можно было увидеть уже в git'е. В противном случае -1 балл
4. При оформлении ДЗ нужно пользоваться данным файлом в качестве шаблона. Не нужно удалять и видоизменять написанный код и текст. В противном случае -1 балл

In [1]:
import matplotlib.pyplot as plt
import numpy as np
import scipy
import pandas as pd

from sklearn.datasets import load_wine
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, f1_score
from sklearn.model_selection import KFold, train_test_split, GridSearchCV, RandomizedSearchCV
from sklearn.tree import DecisionTreeClassifier

%matplotlib inline
%load_ext pycodestyle_magic

In [2]:
#%%pycodestyle


class MyDecisionTreeClassifier:
    NON_LEAF_TYPE = 0
    LEAF_TYPE = 1

    def __init__(self, min_samples_split=2, max_depth=None,
                 sufficient_share=1.0, criterion='gini', max_features=None):
        self.tree = dict()
        self.min_samples_split = min_samples_split
        self.max_depth = max_depth
        self.sufficient_share = sufficient_share
        self.num_class = -1
        self.feature_importances_ = None
        if criterion == 'gini':
            self.G_function = self.__gini
        elif criterion == 'entropy':
            self.G_function = self.__entropy
        elif criterion == 'misclass':
            self.G_function = self.__misclass
        else:
            print('invalid criterion name')
            raise

        if max_features == 'sqrt':
            self.get_feature_ids = self.__get_feature_ids_sqrt
        elif max_features == 'log2':
            self.get_feature_ids = self.__get_feature_ids_log2
        elif max_features is None:
            self.get_feature_ids = self.__get_feature_ids_N
        else:
            print('invalid max_features name')
            raise

    def __gini(self, l_c, l_s, r_c, r_s):
        return (np.sum(l_c ** 2) / l_s + \
                np.sum(r_c ** 2) / r_s) / (l_s + r_s) - \
                np.sum((l_c + r_c) ** 2) / ((l_s + r_s) ** 2)

    def __entropy(self, l_c, l_s, r_c, r_s):
        return (np.sum(l_c * np.log2(l_c / l_s)) + \
                np.sum(l_c * np.log2(l_c / l_s)) - \
                np.sum((l_c + r_c) * np.log2((r_c + l_c)) / \
                       (l_s + r_s))) / (l_s + r_s)

    def __misclass(self, l_c, l_s, r_c, r_s):
        return (np.max(l_c) + np.max(r_c) - np.max(l_c + r_c)) / (l_s + r_s)

    def __get_feature_ids_sqrt(self, n_feature):
        feature_ids = range(n_feature)
        np.random.shuffle([feature_ids])
        return np.asarray(feature_ids[:int(n_feature**0.5)])

    def __get_feature_ids_log2(self, n_feature):
        feature_ids = range(n_feature)
        np.random.shuffle([feature_ids])
        return np.asarray(feature_ids[:int(np.log2(n_feature))])

    def __get_feature_ids_N(self, n_feature):
        return np.arange(n_feature)

    def __sort_samples(self, x, y):
        sorted_idx = x.argsort()
        return x[sorted_idx], y[sorted_idx]

    def __div_samples(self, x, y, feature_id, threshold):
        left_mask = x[:, feature_id] > threshold
        right_mask = ~left_mask
        return x[left_mask], x[right_mask], y[left_mask], y[right_mask]

    def __find_threshold(self, x, y):
        x.reshape(y.shape[0], -1)
        best_feature = 0
        max_gain = 0
        threshold = np.NINF
        b_gain_i = 0

        for i in self.get_feature_ids(x.shape[1]):
            x_sorted, y_sorted = self.__sort_samples(x[:, i], y)

            div_ind = np.where(x_sorted[:-1] != x_sorted[1:])[0]
            if div_ind.shape[0] == 0:
                continue

            div_ind += 1
            count1 = np.asarray(list(map(lambda i: np.bincount(y_sorted[:i:],
                                minlength=self.num_class), div_ind)))
            count2 = np.asarray(list(map(lambda i: np.bincount(y_sorted[i::],
                                minlength=self.num_class), div_ind)))
            gain_v = np.asarray(list(map(
                               lambda a, b, c, d: self.G_function(a, b, c, d),
                               count1, div_ind, count2, y.shape[0] - div_ind)))
            gain_i = np.argmax(gain_v)

            if max_gain <= gain_v[gain_i]:
                max_gain = gain_v[gain_i]
                best_feature = i
                threshold = x_sorted[gain_i]

        self.feature_importances_[best_feature] += max_gain * y.shape[0] / self.n_samples
        return best_feature, threshold

    def __fit_node(self, x, y, node_id, depth):
        class_, count_ = scipy.stats.mode(y)
        if (self.max_depth is not None and depth > self.max_depth) or \
            y.shape[0] < self.min_samples_split or \
            count_ / y.shape[0] >= self.sufficient_share:
            self.tree[node_id] = (self.__class__.LEAF_TYPE,
                                  class_, count_ / y.shape[0])
            return self.tree[node_id]

        feature_id, threshold = self.__find_threshold(x, y)
        x_l, x_r, y_l, y_r = self.__div_samples(x, y, feature_id, threshold)
        self.tree[node_id] = (self.__class__.NON_LEAF_TYPE,
                              feature_id, threshold)

        self.__fit_node(x_l, y_l, 2 * node_id + 1, depth + 1)
        self.__fit_node(x_r, y_r, 2 * node_id + 2, depth + 1)

        return self.tree[node_id]

    def fit(self, x, y):
        self.num_class = np.unique(y).size
        self.feature_importances_ = np.zeros(shape=x.shape[1])
        self.n_samples = x.shape[0]
        self.__fit_node(x, y, 0, 0)

    def __predict_class(self, x, node_id):
        node = self.tree[node_id]
        if node[0] == self.__class__.NON_LEAF_TYPE:
            _, feature_id, threshold = node
            if x[feature_id] > threshold:
                return self.__predict_class(x, 2 * node_id + 1)
            else:
                return self.__predict_class(x, 2 * node_id + 2)
        else:
            return node[1]

    def __predict_probs(self, x, node_id):
        node = self.tree[node_id]
        if node[0] == self.__class__.NON_LEAF_TYPE:
            _, feature_id, threshold = node
            if x[feature_id] > threshold:
                return self.__predict_probs(x, 2 * node_id + 1)
            else:
                return self.__predict_probs(x, 2 * node_id + 2)
        else:
            return node[2]

    def predict(self, X):
        return np.array([self.__predict_class(x, 0) for x in X])

    def predict_probs(self, X):
        return np.array([self.__predict_probs(x, 0) for x in X])

    def fit_predict(self, x_train, y_train, predicted_x):
        self.fit(x_train, y_train)
        return self.predict(predicted_x)

In [3]:
my_clf = MyDecisionTreeClassifier(min_samples_split=2)
clf = DecisionTreeClassifier(min_samples_split=2)

In [4]:
wine = load_wine()
X_train, X_test, y_train, y_test = train_test_split(wine.data, wine.target, test_size=0.1, stratify=wine.target)

## Проверка скорости работы на wine

In [5]:
%time clf.fit(X_train, y_train)

Wall time: 0 ns

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [6]:
%time my_clf.fit(X_train, y_train)

Wall time: 276 ms

## Проверка качества работы на wine

In [7]:
f1_score(y_pred=clf.predict(X_test), y_true=y_test, average='macro')

0.8275401069518716

In [8]:
f1_score(y_pred=my_clf.predict(X_test), y_true=y_test, average='macro')

1.0

## Подготовка данных Speed Dating Data

In [9]:
df = pd.read_csv('spdt.csv', encoding='latin1')
pd.options.display.max_columns = 200
df.shape

(8378, 195)

In [10]:
df = df.iloc[:, :97]
df.shape

(8378, 97)

In [11]:
pd.options.display.max_columns = 100
pd.options.display.max_rows = 5
df

,iid,id,gender,idg,condtn,wave,round,position,positin1,order,partner,pid,match,int_corr,samerace,age_o,race_o,pf_o_att,pf_o_sin,pf_o_int,pf_o_fun,pf_o_amb,pf_o_sha,dec_o,attr_o,sinc_o,intel_o,fun_o,amb_o,shar_o,like_o,prob_o,met_o,age,field,field_cd,undergra,mn_sat,tuition,race,imprace,imprelig,from,zipcode,income,goal,date,go_out,career,career_c,sports,tvsports,exercise,dining,museums,art,hiking,gaming,clubbing,reading,tv,theater,movies,concerts,music,shopping,yoga,exphappy,expnum,attr1_1,sinc1_1,intel1_1,fun1_1,amb1_1,shar1_1,attr4_1,sinc4_1,intel4_1,fun4_1,amb4_1,shar4_1,attr2_1,sinc2_1,intel2_1,fun2_1,amb2_1,shar2_1,attr3_1,sinc3_1,fun3_1,intel3_1,amb3_1,attr5_1,sinc5_1,intel5_1,fun5_1,amb5_1
0,1,1.0,0,1,1,1,10,7,NaN,4,1,11.0,0,0.14,0,27.0,2.0,35.0,20.0,20.0,20.0,0.0,5.0,0,6.0,8.0,8.0,8.0,8.0,6.0,7.0,4.0,2.0,21.0,Law,1.0,NaN,NaN,NaN,4.0,2.0,4.0,Chicago,"60,521","69,487.00",2.0,7.0,1.0,lawyer,NaN,9.0,2.0,8.0,9.0,1.0,1.0,5.0,1.0,5.0,6.0,9.0,1.0,10.0,10.0,9.0,8.0,1.0,3.0,2.0,15.0,20.0,20.0,15.0,15.0,15.0,NaN,NaN,NaN,NaN,NaN,NaN,35.0,20.0,15.0,20.0,5.0,5.0,6.0,8.0,8.0,8.0,7.0,NaN,NaN,NaN,NaN,NaN
1,1,1.0,0,1,1,1,10,7,NaN,3,2,12.0,0,0.54,0,22.0,2.0,60.0,0.0,0.0,40.0,0.0,0.0,0,7.0,8.0,10.0,7.0,7.0,5.0,8.0,4.0,2.0,21.0,Law,1.0,NaN,NaN,NaN,4.0,2.0,4.0,Chicago,"60,521","69,487.00",2.0,7.0,1.0,lawyer,NaN,9.0,2.0,8.0,9.0,1.0,1.0,5.0,1.0,5.0,6.0,9.0,1.0,10.0,10.0,9.0,8.0,1.0,3.0,2.0,15.0,20.0,20.0,15.0,15.0,15.0,NaN,NaN,NaN,NaN,NaN,NaN,35.0,20.0,15.0,20.0,5.0,5.0,6.0,8.0,8.0,8.0,7.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8376,552,22.0,1,44,2,21,22,3,10.0,16,21,529.0,0,0.62,0,22.0,4.0,10.0,25.0,25.0,10.0,10.0,20.0,1,5.0,7.0,5.0,5.0,3.0,6.0,6.0,4.0,2.0,25.0,Climate Dynamics,18.0,"Ecole Normale Suprieure, Paris",NaN,NaN,2.0,1.0,1.0,France,"78,110",NaN,1.0,2.0,1.0,assistant master of the universe (otherwise it...,15.0,8.0,2.0,5.0,10.0,10.0,10.0,7.0,1.0,9.0,8.0,3.0,7.0,9.0,10.0,10.0,7.0,3.0,10.0,NaN,70.0,0.0,15.0,15.0,0.0,0.0,90.0,0.0,0.0,0.0,0.0,10.0,50.0,0.0,0.0,30.0,0.0,20.0,8.0,7.0,6.0,7.0,7.0,9.0,7.0,10.0,5.0,9.0
8377,552,NaN,1,44,2,21,22,2,10.0,15,22,530.0,0,0.01,0,22.0,4.0,20.0,20.0,10.0,15.0,5.0,30.0,1,8.0,8.0,7.0,7.0,7.0,7.0,8.0,5.0,2.0,25.0,Climate Dynamics,18.0,"Ecole Normale Suprieure, Paris",NaN,NaN,2.0,1.0,1.0,France,"78,110",NaN,1.0,2.0,1.0,assistant master of the universe (otherwise it...,15.0,8.0,2.0,5.0,10.0,10.0,10.0,7.0,1.0,9.0,8.0,3.0,7.0,9.0,10.0,10.0,7.0,3.0,10.0,NaN,70.0,0.0,15.0,15.0,0.0,0.0,90.0,0.0,0.0,0.0,0.0,10.0,50.0,0.0,0.0,30.0,0.0,20.0,8.0,7.0,6.0,7.0,7.0,9.0,7.0,10.0,5.0,9.0

In [12]:
df = df.drop(['id'], axis=1)
df = df.drop(['idg'], axis=1)
df = df.drop(['condtn'], axis=1)
df = df.drop(['position', 'positin1'], axis=1)
df = df.drop(['order'], axis=1)
df = df.drop(['partner'], axis=1)
df

,iid,gender,wave,round,pid,match,int_corr,samerace,age_o,race_o,pf_o_att,pf_o_sin,pf_o_int,pf_o_fun,pf_o_amb,pf_o_sha,dec_o,attr_o,sinc_o,intel_o,fun_o,amb_o,shar_o,like_o,prob_o,met_o,age,field,field_cd,undergra,mn_sat,tuition,race,imprace,imprelig,from,zipcode,income,goal,date,go_out,career,career_c,sports,tvsports,exercise,dining,museums,art,hiking,gaming,clubbing,reading,tv,theater,movies,concerts,music,shopping,yoga,exphappy,expnum,attr1_1,sinc1_1,intel1_1,fun1_1,amb1_1,shar1_1,attr4_1,sinc4_1,intel4_1,fun4_1,amb4_1,shar4_1,attr2_1,sinc2_1,intel2_1,fun2_1,amb2_1,shar2_1,attr3_1,sinc3_1,fun3_1,intel3_1,amb3_1,attr5_1,sinc5_1,intel5_1,fun5_1,amb5_1
0,1,0,1,10,11.0,0,0.14,0,27.0,2.0,35.0,20.0,20.0,20.0,0.0,5.0,0,6.0,8.0,8.0,8.0,8.0,6.0,7.0,4.0,2.0,21.0,Law,1.0,NaN,NaN,NaN,4.0,2.0,4.0,Chicago,"60,521","69,487.00",2.0,7.0,1.0,lawyer,NaN,9.0,2.0,8.0,9.0,1.0,1.0,5.0,1.0,5.0,6.0,9.0,1.0,10.0,10.0,9.0,8.0,1.0,3.0,2.0,15.0,20.0,20.0,15.0,15.0,15.0,NaN,NaN,NaN,NaN,NaN,NaN,35.0,20.0,15.0,20.0,5.0,5.0,6.0,8.0,8.0,8.0,7.0,NaN,NaN,NaN,NaN,NaN
1,1,0,1,10,12.0,0,0.54,0,22.0,2.0,60.0,0.0,0.0,40.0,0.0,0.0,0,7.0,8.0,10.0,7.0,7.0,5.0,8.0,4.0,2.0,21.0,Law,1.0,NaN,NaN,NaN,4.0,2.0,4.0,Chicago,"60,521","69,487.00",2.0,7.0,1.0,lawyer,NaN,9.0,2.0,8.0,9.0,1.0,1.0,5.0,1.0,5.0,6.0,9.0,1.0,10.0,10.0,9.0,8.0,1.0,3.0,2.0,15.0,20.0,20.0,15.0,15.0,15.0,NaN,NaN,NaN,NaN,NaN,NaN,35.0,20.0,15.0,20.0,5.0,5.0,6.0,8.0,8.0,8.0,7.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8376,552,1,21,22,529.0,0,0.62,0,22.0,4.0,10.0,25.0,25.0,10.0,10.0,20.0,1,5.0,7.0,5.0,5.0,3.0,6.0,6.0,4.0,2.0,25.0,Climate Dynamics,18.0,"Ecole Normale Suprieure, Paris",NaN,NaN,2.0,1.0,1.0,France,"78,110",NaN,1.0,2.0,1.0,assistant master of the universe (otherwise it...,15.0,8.0,2.0,5.0,10.0,10.0,10.0,7.0,1.0,9.0,8.0,3.0,7.0,9.0,10.0,10.0,7.0,3.0,10.0,NaN,70.0,0.0,15.0,15.0,0.0,0.0,90.0,0.0,0.0,0.0,0.0,10.0,50.0,0.0,0.0,30.0,0.0,20.0,8.0,7.0,6.0,7.0,7.0,9.0,7.0,10.0,5.0,9.0
8377,552,1,21,22,530.0,0,0.01,0,22.0,4.0,20.0,20.0,10.0,15.0,5.0,30.0,1,8.0,8.0,7.0,7.0,7.0,7.0,8.0,5.0,2.0,25.0,Climate Dynamics,18.0,"Ecole Normale Suprieure, Paris",NaN,NaN,2.0,1.0,1.0,France,"78,110",NaN,1.0,2.0,1.0,assistant master of the universe (otherwise it...,15.0,8.0,2.0,5.0,10.0,10.0,10.0,7.0,1.0,9.0,8.0,3.0,7.0,9.0,10.0,10.0,7.0,3.0,10.0,NaN,70.0,0.0,15.0,15.0,0.0,0.0,90.0,0.0,0.0,0.0,0.0,10.0,50.0,0.0,0.0,30.0,0.0,20.0,8.0,7.0,6.0,7.0,7.0,9.0,7.0,10.0,5.0,9.0

In [13]:
df = df.drop(['age_o', 'race_o', 'pf_o_att', 
              'pf_o_sin', 'pf_o_int',
              'pf_o_fun', 'pf_o_amb', 'pf_o_sha',
              'dec_o', 'attr_o', 'sinc_o', 'intel_o', 'fun_o',
              'amb_o', 'shar_o', 'like_o', 'prob_o','met_o'], 
             axis=1)
df

,iid,gender,wave,round,pid,match,int_corr,samerace,age,field,field_cd,undergra,mn_sat,tuition,race,imprace,imprelig,from,zipcode,income,goal,date,go_out,career,career_c,sports,tvsports,exercise,dining,museums,art,hiking,gaming,clubbing,reading,tv,theater,movies,concerts,music,shopping,yoga,exphappy,expnum,attr1_1,sinc1_1,intel1_1,fun1_1,amb1_1,shar1_1,attr4_1,sinc4_1,intel4_1,fun4_1,amb4_1,shar4_1,attr2_1,sinc2_1,intel2_1,fun2_1,amb2_1,shar2_1,attr3_1,sinc3_1,fun3_1,intel3_1,amb3_1,attr5_1,sinc5_1,intel5_1,fun5_1,amb5_1
0,1,0,1,10,11.0,0,0.14,0,21.0,Law,1.0,NaN,NaN,NaN,4.0,2.0,4.0,Chicago,"60,521","69,487.00",2.0,7.0,1.0,lawyer,NaN,9.0,2.0,8.0,9.0,1.0,1.0,5.0,1.0,5.0,6.0,9.0,1.0,10.0,10.0,9.0,8.0,1.0,3.0,2.0,15.0,20.0,20.0,15.0,15.0,15.0,NaN,NaN,NaN,NaN,NaN,NaN,35.0,20.0,15.0,20.0,5.0,5.0,6.0,8.0,8.0,8.0,7.0,NaN,NaN,NaN,NaN,NaN
1,1,0,1,10,12.0,0,0.54,0,21.0,Law,1.0,NaN,NaN,NaN,4.0,2.0,4.0,Chicago,"60,521","69,487.00",2.0,7.0,1.0,lawyer,NaN,9.0,2.0,8.0,9.0,1.0,1.0,5.0,1.0,5.0,6.0,9.0,1.0,10.0,10.0,9.0,8.0,1.0,3.0,2.0,15.0,20.0,20.0,15.0,15.0,15.0,NaN,NaN,NaN,NaN,NaN,NaN,35.0,20.0,15.0,20.0,5.0,5.0,6.0,8.0,8.0,8.0,7.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8376,552,1,21,22,529.0,0,0.62,0,25.0,Climate Dynamics,18.0,"Ecole Normale Suprieure, Paris",NaN,NaN,2.0,1.0,1.0,France,"78,110",NaN,1.0,2.0,1.0,assistant master of the universe (otherwise it...,15.0,8.0,2.0,5.0,10.0,10.0,10.0,7.0,1.0,9.0,8.0,3.0,7.0,9.0,10.0,10.0,7.0,3.0,10.0,NaN,70.0,0.0,15.0,15.0,0.0,0.0,90.0,0.0,0.0,0.0,0.0,10.0,50.0,0.0,0.0,30.0,0.0,20.0,8.0,7.0,6.0,7.0,7.0,9.0,7.0,10.0,5.0,9.0
8377,552,1,21,22,530.0,0,0.01,0,25.0,Climate Dynamics,18.0,"Ecole Normale Suprieure, Paris",NaN,NaN,2.0,1.0,1.0,France,"78,110",NaN,1.0,2.0,1.0,assistant master of the universe (otherwise it...,15.0,8.0,2.0,5.0,10.0,10.0,10.0,7.0,1.0,9.0,8.0,3.0,7.0,9.0,10.0,10.0,7.0,3.0,10.0,NaN,70.0,0.0,15.0,15.0,0.0,0.0,90.0,0.0,0.0,0.0,0.0,10.0,50.0,0.0,0.0,30.0,0.0,20.0,8.0,7.0,6.0,7.0,7.0,9.0,7.0,10.0,5.0,9.0

In [14]:
for i, group in df.groupby('field_cd'):
    print('=' * 10)
    print('Field Code {}'.format(i))
    print(group.field.unique())
df.field_cd.isnull().sum()
df.loc[:, 'field_cd'] = df.loc[:, 'field_cd'].fillna(19)
df = df.drop(['field'], axis=1)
df = df.drop(['field_cd'], axis=1)
df

==========
Field Code 1.0
['Law' 'law' 'LAW' 'Law and Social Work'
 'Law and English Literature (J.D./Ph.D.)' 'Intellectual Property Law'
 'Law/Business']
==========
Field Code 2.0
['Economics' 'Mathematics' 'Statistics' 'math' 'Mathematics, PhD' 'Stats'
 'math of finance' 'Math']
==========
Field Code 3.0
['Psychology' 'Speech Language Pathology' 'Speech Languahe Pathology'
 'Educational Psychology' 'Organizational Psychology' 'psychology'
 'Communications' 'Sociology' 'psychology and english' 'theory'
 'Health policy' 'Clinical Psychology' 'Sociology and Education'
 'sociology' 'Anthropology/Education' 'speech pathology'
 'Speech Pathology' 'Anthropology' 'School Psychology' 'anthropology'
 'Counseling Psychology' 'African-American Studies/History']
==========
Field Code 4.0
['Medicine' 'Art History/medicine'
 'Sociomedical Sciences- School of Public Health' 'Epidemiology'
 'GS Postbacc PreMed' 'medicine']
==========
Field Code 5.0
['Operations Research' 'Mechanical Engineering' 'Engineering'
 'Electrical Engineering' 'Operations Research (SEAS)'
 'Education Administration' 'Computer Science' 'Biomedical Engineering'
 'electrical engineering' 'engineering' 'Medical Informatics'
 'medical informatics' 'Electrical Engg.' 'Environmental Engineering'
 'Instructional Tech & Media' 'MA in Quantitative Methods'
 'Urban Planning' 'Financial Engineering' 'biomedical engineering'
 'biomedical informatics' 'ELECTRICAL ENGINEERING'
 'Biomedical engineering' 'Industrial Engineering'
 'Industrial Engineering/Operations Research'
 'Masters of Industrial Engineering' 'Biomedical Informatics']
==========
Field Code 6.0
['MFA Creative Writing' 'Classics' 'Journalism' 'English'
 'Comparative Literature' 'English and Comp Lit'
 'Communications in Education' 'Creative Writing'
 'Creative Writing - Nonfiction' 'Writing: Literary Nonfiction'
 'Creative Writing (Nonfiction)' 'NonFiction Writing' 'SOA -- writing'
 'journalism' 'Nonfiction writing']
==========
Field Code 7.0
['German Literature' 'Religion' 'philosophy' 'History of Religion'
 'Modern Chinese Literature' 'Philosophy' 'Religion, GSAS' 'History'
 'History (GSAS - PhD)' 'American Studies' 'Philosophy (Ph.D.)'
 'Philosophy and Physics' 'Art History' 'art history']
==========
Field Code 8.0
['Finance' 'Business' 'money' 'Applied Maths/Econs' 'Economics' 'Finanace'
 'Finance&Economics' 'Mathematical Finance' 'MBA'
 'Business & International Affairs' 'Marketing' 'Business (MBA)'
 'financial math' 'Business- MBA' 'Economics, English'
 'Economics, Sociology' 'Economics and Political Science' 'business'
 'Business, marketing' 'Business/ Finance/ Real Estate'
 'International Affairs/Finance' 'international finance and business'
 'International Business' 'International Finance, Economic Policy'
 'Business/Law' 'Business and International Affairs (MBA/MIA Dual Degree)'
 'QMSS' 'Public Administration' 'Master in Public Administration'
 'Business School' 'MBA / Master of International Affairs (SIPA)'
 'Finance/Economics' 'Business Administration' 'MBA Finance'
 'BUSINESS CONSULTING' 'business school' 'Business, Media'
 'Fundraising Management' 'Business (Finance & Marketing)' 'Consulting'
 'MBA - Private Equity / Real Estate' 'General management/finance']
==========
Field Code 9.0
['TC (Health Ed)' 'Elementary/Childhood Education (MA)'
 'International Educational Development' 'Art Education'
 'elementary education' 'MA Science Education' 'Social Studies Education'
 'MA Teaching Social Studies' 'Education Policy'
 'Education- Literacy Specialist' 'bilingual education' 'Education'
 'math education' 'TESOL' 'Elementary Education'
 'Cognitive Studies in Education' 'education'
 'Curriculum and Teaching/Giftedness' 'Instructional Media and Technology'
 'English Education' 'art education' 'Early Childhood Education'
 'Ed.D. in higher education policy at TC' 'EDUCATION' 'music education'
 'Music Education' 'Higher Ed. - M.A.' 'Neuroscience and Education'
 'Elementary Education - Preservice'
 'Education Leadership - Public School Administration'
 'Bilingual Education' 'teaching of English']
==========
Field Code 10.0
['chemistry' 'microbiology' 'Chemistry'
 'Climate-Earth and Environ. Science' 'marine geophysics'
 'Nutrition/Genetics' 'Neuroscience' 'physics (astrophysics)' 'Physics'
 'Biochemistry' 'biology' 'Cell Biology' 'Microbiology' 'climate change'
 'MA Biotechnology' 'Ecology' 'Computational Biochemsistry' 'Neurobiology'
 'biomedicine' 'Biology' 'Conservation biology' 'biotechnology'
 'Earth and Environmental Science' 'nutrition' 'Genetics' 'Nutritiron'
 'Molecular Biology' 'Genetics & Development' 'genetics'
 'medicine and biochemistry' 'Epidemiology' 'Nutrition'
 'Applied Physiology & Nutrition' 'Biomedical Engineering' 'physics'
 'Biotechnology' 'Neurosciences/Stem cells' 'Biology PhD'
 'biochemistry/genetics' 'epidemiology'
 'Biochemistry & Molecular Biophysics']
==========
Field Code 11.0
['social work' 'Social Work' 'Masters of Social Work' 'Social work'
 'International Affairs' 'Social Work/SIPA']
==========
Field Code 12.0
['Undergrad - GS']
==========
Field Code 13.0
['Masters in Public Administration' 'Masters of Social Work&Education'
 'political science' 'International Relations'
 'international affairs - economic development' 'Political Science'
 'American Studies (Masters)' 'International Affairs'
 'international affairs/international finance' 'International Development'
 'International Affairs and Public Health' 'International affairs'
 'International Affairs/Business' 'Master of International Affairs'
 'International Politics' 'SIPA / MIA'
 'International Security Policy - SIPA' 'Intrernational Affairs'
 'International Affairs - Economic Policy' 'SIPA - Energy' 'Public Policy'
 'Human Rights: Middle East' 'Human Rights' 'SIPA-International Affairs'
 'Public Administration']
==========
Field Code 14.0
['Film' 'MFA -Film' 'film']
==========
Field Code 15.0
['Arts Administration' 'Museum Anthropology'
 'Theatre Management & Producing' 'MFA Writing' 'MFA  Poetry' 'Theater'
 'MFA Acting Program' 'Acting' 'Public Health']
==========
Field Code 16.0
['Polish' 'Japanese Literature' 'french']
==========
Field Code 17.0
['Architecture']
==========
Field Code 18.0
['working' 'GSAS' 'Climate Dynamics']

,iid,gender,wave,round,pid,match,int_corr,samerace,age,undergra,mn_sat,tuition,race,imprace,imprelig,from,zipcode,income,goal,date,go_out,career,career_c,sports,tvsports,exercise,dining,museums,art,hiking,gaming,clubbing,reading,tv,theater,movies,concerts,music,shopping,yoga,exphappy,expnum,attr1_1,sinc1_1,intel1_1,fun1_1,amb1_1,shar1_1,attr4_1,sinc4_1,intel4_1,fun4_1,amb4_1,shar4_1,attr2_1,sinc2_1,intel2_1,fun2_1,amb2_1,shar2_1,attr3_1,sinc3_1,fun3_1,intel3_1,amb3_1,attr5_1,sinc5_1,intel5_1,fun5_1,amb5_1
0,1,0,1,10,11.0,0,0.14,0,21.0,NaN,NaN,NaN,4.0,2.0,4.0,Chicago,"60,521","69,487.00",2.0,7.0,1.0,lawyer,NaN,9.0,2.0,8.0,9.0,1.0,1.0,5.0,1.0,5.0,6.0,9.0,1.0,10.0,10.0,9.0,8.0,1.0,3.0,2.0,15.0,20.0,20.0,15.0,15.0,15.0,NaN,NaN,NaN,NaN,NaN,NaN,35.0,20.0,15.0,20.0,5.0,5.0,6.0,8.0,8.0,8.0,7.0,NaN,NaN,NaN,NaN,NaN
1,1,0,1,10,12.0,0,0.54,0,21.0,NaN,NaN,NaN,4.0,2.0,4.0,Chicago,"60,521","69,487.00",2.0,7.0,1.0,lawyer,NaN,9.0,2.0,8.0,9.0,1.0,1.0,5.0,1.0,5.0,6.0,9.0,1.0,10.0,10.0,9.0,8.0,1.0,3.0,2.0,15.0,20.0,20.0,15.0,15.0,15.0,NaN,NaN,NaN,NaN,NaN,NaN,35.0,20.0,15.0,20.0,5.0,5.0,6.0,8.0,8.0,8.0,7.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8376,552,1,21,22,529.0,0,0.62,0,25.0,"Ecole Normale Suprieure, Paris",NaN,NaN,2.0,1.0,1.0,France,"78,110",NaN,1.0,2.0,1.0,assistant master of the universe (otherwise it...,15.0,8.0,2.0,5.0,10.0,10.0,10.0,7.0,1.0,9.0,8.0,3.0,7.0,9.0,10.0,10.0,7.0,3.0,10.0,NaN,70.0,0.0,15.0,15.0,0.0,0.0,90.0,0.0,0.0,0.0,0.0,10.0,50.0,0.0,0.0,30.0,0.0,20.0,8.0,7.0,6.0,7.0,7.0,9.0,7.0,10.0,5.0,9.0
8377,552,1,21,22,530.0,0,0.01,0,25.0,"Ecole Normale Suprieure, Paris",NaN,NaN,2.0,1.0,1.0,France,"78,110",NaN,1.0,2.0,1.0,assistant master of the universe (otherwise it...,15.0,8.0,2.0,5.0,10.0,10.0,10.0,7.0,1.0,9.0,8.0,3.0,7.0,9.0,10.0,10.0,7.0,3.0,10.0,NaN,70.0,0.0,15.0,15.0,0.0,0.0,90.0,0.0,0.0,0.0,0.0,10.0,50.0,0.0,0.0,30.0,0.0,20.0,8.0,7.0,6.0,7.0,7.0,9.0,7.0,10.0,5.0,9.0

In [15]:
df = df.dropna(subset=['imprelig', 'imprace'])
df = df.drop(['from', 'zipcode'], axis=1)
df = df.drop(['income'], axis=1)
df = df.dropna(subset=['date'])
df = df.drop(['sports','tvsports','exercise','dining','museums','art','hiking','gaming',
       'clubbing','reading','tv','theater','movies','concerts','music','shopping','yoga'], axis=1)
df = df.drop(['expnum'], axis=1)
df = df.drop(['round'], axis=1)
df = df.drop(['undergra'], axis=1)

In [16]:
df = df.drop(['career'], axis=1)
df = df.drop(['career_c'], axis=1)

In [17]:
for i in [4, 5]:
    feat = ['attr{}_1'.format(i), 'sinc{}_1'.format(i), 
            'intel{}_1'.format(i), 'fun{}_1'.format(i), 
            'amb{}_1'.format(i), 'shar{}_1'.format(i)]
    
    if i != 4:
        feat.remove('shar{}_1'.format(i))
    
    df = df.drop(feat, axis=1)    

df

,iid,gender,wave,pid,match,int_corr,samerace,age,mn_sat,tuition,race,imprace,imprelig,goal,date,go_out,exphappy,attr1_1,sinc1_1,intel1_1,fun1_1,amb1_1,shar1_1,attr2_1,sinc2_1,intel2_1,fun2_1,amb2_1,shar2_1,attr3_1,sinc3_1,fun3_1,intel3_1,amb3_1
0,1,0,1,11.0,0,0.14,0,21.0,NaN,NaN,4.0,2.0,4.0,2.0,7.0,1.0,3.0,15.0,20.0,20.0,15.0,15.0,15.0,35.0,20.0,15.0,20.0,5.0,5.0,6.0,8.0,8.0,8.0,7.0
1,1,0,1,12.0,0,0.54,0,21.0,NaN,NaN,4.0,2.0,4.0,2.0,7.0,1.0,3.0,15.0,20.0,20.0,15.0,15.0,15.0,35.0,20.0,15.0,20.0,5.0,5.0,6.0,8.0,8.0,8.0,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8376,552,1,21,529.0,0,0.62,0,25.0,NaN,NaN,2.0,1.0,1.0,1.0,2.0,1.0,10.0,70.0,0.0,15.0,15.0,0.0,0.0,50.0,0.0,0.0,30.0,0.0,20.0,8.0,7.0,6.0,7.0,7.0
8377,552,1,21,530.0,0,0.01,0,25.0,NaN,NaN,2.0,1.0,1.0,1.0,2.0,1.0,10.0,70.0,0.0,15.0,15.0,0.0,0.0,50.0,0.0,0.0,30.0,0.0,20.0,8.0,7.0,6.0,7.0,7.0

In [18]:
feat = ['iid', 'wave', 'attr1_1', 'sinc1_1', 'intel1_1', 'fun1_1', 'amb1_1', 'shar1_1']
temp = df.drop_duplicates(subset=['iid', 'wave']).loc[:, feat]
temp.loc[:, 'totalsum'] = temp.iloc[:, 2:].sum(axis=1)
idx = ((temp.wave < 6) | (temp.wave > 9)) & (temp.totalsum < 99)
temp.loc[idx, ]
idx = ((temp.wave >= 6) & (temp.wave <= 9))
temp.loc[idx, ]
df.loc[:, 'temp_totalsum'] = df.loc[:, ['attr1_1', 'sinc1_1', 'intel1_1', 'fun1_1', 'amb1_1', 'shar1_1']].sum(axis=1)
df.loc[:, ['attr1_1', 'sinc1_1', 'intel1_1', 'fun1_1', 'amb1_1', 'shar1_1']] = \
(df.loc[:, ['attr1_1', 'sinc1_1', 'intel1_1', 'fun1_1', 'amb1_1', 'shar1_1']].T/df.loc[:, 'temp_totalsum'].T).T * 100

In [19]:
feat = ['iid', 'wave', 'attr2_1', 'sinc2_1', 'intel2_1', 'fun2_1', 'amb2_1', 'shar2_1']
temp = df.drop_duplicates(subset=['iid', 'wave']).loc[:, feat]
temp.loc[:, 'totalsum'] = temp.iloc[:, 2:].sum(axis=1)
idx = ((temp.wave < 6) | (temp.wave > 9)) & (temp.totalsum < 90) & (temp.totalsum != 0)
temp.loc[idx, ]
idx = ((temp.wave >= 6) & (temp.wave <= 9))
temp.loc[idx, ]
df.loc[:, 'temp_totalsum'] = df.loc[:, ['attr2_1', 'sinc2_1', 'intel2_1', 'fun2_1', 'amb2_1', 'shar2_1']].sum(axis=1)
df.loc[:, ['attr2_1', 'sinc2_1', 'intel2_1', 'fun2_1', 'amb2_1', 'shar2_1']] = \
(df.loc[:, ['attr2_1', 'sinc2_1', 'intel2_1', 'fun2_1', 'amb2_1', 'shar2_1']].T/df.loc[:, 'temp_totalsum'].T).T * 100
df = df.drop(['temp_totalsum'], axis=1)

In [20]:
df = df.drop(['mn_sat'], axis=1)
df = df.drop(['tuition'], axis=1)
df = df.drop(['race'], axis=1)
df

,iid,gender,wave,pid,match,int_corr,samerace,age,imprace,imprelig,goal,date,go_out,exphappy,attr1_1,sinc1_1,intel1_1,fun1_1,amb1_1,shar1_1,attr2_1,sinc2_1,intel2_1,fun2_1,amb2_1,shar2_1,attr3_1,sinc3_1,fun3_1,intel3_1,amb3_1
0,1,0,1,11.0,0,0.14,0,21.0,2.0,4.0,2.0,7.0,1.0,3.0,15.0,20.0,20.0,15.0,15.0,15.0,35.0,20.0,15.0,20.0,5.0,5.0,6.0,8.0,8.0,8.0,7.0
1,1,0,1,12.0,0,0.54,0,21.0,2.0,4.0,2.0,7.0,1.0,3.0,15.0,20.0,20.0,15.0,15.0,15.0,35.0,20.0,15.0,20.0,5.0,5.0,6.0,8.0,8.0,8.0,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8376,552,1,21,529.0,0,0.62,0,25.0,1.0,1.0,1.0,2.0,1.0,10.0,70.0,0.0,15.0,15.0,0.0,0.0,50.0,0.0,0.0,30.0,0.0,20.0,8.0,7.0,6.0,7.0,7.0
8377,552,1,21,530.0,0,0.01,0,25.0,1.0,1.0,1.0,2.0,1.0,10.0,70.0,0.0,15.0,15.0,0.0,0.0,50.0,0.0,0.0,30.0,0.0,20.0,8.0,7.0,6.0,7.0,7.0

In [21]:
df = df.drop(['wave'], axis=1)
df_male = df.query('gender == 1').drop_duplicates(subset=['iid', 'pid'])\
                                 .drop(['gender'], axis=1)\
                                 .dropna()
df_female = df.query('gender == 0').drop_duplicates(subset=['iid'])\
                                   .drop(['gender', 'match', 'int_corr', 'samerace'], axis=1)\
                                   .dropna()
        
df_female.columns = df_female.columns + '_f'
df

,iid,gender,pid,match,int_corr,samerace,age,imprace,imprelig,goal,date,go_out,exphappy,attr1_1,sinc1_1,intel1_1,fun1_1,amb1_1,shar1_1,attr2_1,sinc2_1,intel2_1,fun2_1,amb2_1,shar2_1,attr3_1,sinc3_1,fun3_1,intel3_1,amb3_1
0,1,0,11.0,0,0.14,0,21.0,2.0,4.0,2.0,7.0,1.0,3.0,15.0,20.0,20.0,15.0,15.0,15.0,35.0,20.0,15.0,20.0,5.0,5.0,6.0,8.0,8.0,8.0,7.0
1,1,0,12.0,0,0.54,0,21.0,2.0,4.0,2.0,7.0,1.0,3.0,15.0,20.0,20.0,15.0,15.0,15.0,35.0,20.0,15.0,20.0,5.0,5.0,6.0,8.0,8.0,8.0,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8376,552,1,529.0,0,0.62,0,25.0,1.0,1.0,1.0,2.0,1.0,10.0,70.0,0.0,15.0,15.0,0.0,0.0,50.0,0.0,0.0,30.0,0.0,20.0,8.0,7.0,6.0,7.0,7.0
8377,552,1,530.0,0,0.01,0,25.0,1.0,1.0,1.0,2.0,1.0,10.0,70.0,0.0,15.0,15.0,0.0,0.0,50.0,0.0,0.0,30.0,0.0,20.0,8.0,7.0,6.0,7.0,7.0

In [22]:
pd.options.display.max_rows = 4
df_male['match']

100     0
101     0
       ..
8376    0
8377    0
Name: match, Length: 4051, dtype: int64

In [23]:
df_female = df_female.drop(['pid_f'], axis=1)
df_female

,iid_f,age_f,imprace_f,imprelig_f,goal_f,date_f,go_out_f,exphappy_f,attr1_1_f,sinc1_1_f,intel1_1_f,fun1_1_f,amb1_1_f,shar1_1_f,attr2_1_f,sinc2_1_f,intel2_1_f,fun2_1_f,amb2_1_f,shar2_1_f,attr3_1_f,sinc3_1_f,fun3_1_f,intel3_1_f,amb3_1_f
0,1,21.0,2.0,4.0,2.0,7.0,1.0,3.0,15.0,20.0,20.0,15.0,15.0,15.0,35.0,20.0,15.0,20.0,5.0,5.0,6.0,8.0,8.0,8.0,7.0
10,2,24.0,2.0,5.0,1.0,5.0,1.0,4.0,45.0,5.0,25.0,20.0,0.0,5.0,65.0,0.0,10.0,25.0,0.0,0.0,7.0,5.0,10.0,8.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7850,529,22.0,4.0,1.0,2.0,4.0,1.0,5.0,10.0,25.0,25.0,10.0,10.0,20.0,25.0,25.0,10.0,10.0,5.0,25.0,6.0,10.0,9.0,7.0,5.0
7872,530,22.0,1.0,1.0,2.0,7.0,3.0,8.0,20.0,20.0,10.0,15.0,5.0,30.0,40.0,10.0,10.0,10.0,10.0,20.0,3.0,9.0,9.0,9.0,7.0

In [24]:
df_new = df_male.join(df_female.set_index('iid_f'), on='pid', how='inner')
df_new = df_new.drop(['iid', 'pid'], axis=1)
df_new

,match,int_corr,samerace,age,imprace,imprelig,goal,date,go_out,exphappy,attr1_1,sinc1_1,intel1_1,fun1_1,amb1_1,shar1_1,attr2_1,sinc2_1,intel2_1,fun2_1,amb2_1,shar2_1,attr3_1,sinc3_1,fun3_1,intel3_1,amb3_1,age_f,imprace_f,imprelig_f,goal_f,date_f,go_out_f,exphappy_f,attr1_1_f,sinc1_1_f,intel1_1_f,fun1_1_f,amb1_1_f,shar1_1_f,attr2_1_f,sinc2_1_f,intel2_1_f,fun2_1_f,amb2_1_f,shar2_1_f,attr3_1_f,sinc3_1_f,fun3_1_f,intel3_1_f,amb3_1_f
100,0,0.14,0,27.0,7.0,3.0,1.0,5.0,4.0,7.0,35.0,20.0,20.0,20.0,0.0,5.0,25.0,5.0,20.0,20.0,25.0,5.0,8.0,9.0,7.0,8.0,5.0,21.0,2.0,4.0,2.0,7.0,1.0,3.0,15.0,20.0,20.0,15.0,15.0,15.0,35.0,20.0,15.0,20.0,5.0,5.0,6.0,8.0,8.0,8.0,7.0
110,0,0.54,0,22.0,1.0,1.0,1.0,1.0,1.0,7.0,60.0,0.0,0.0,40.0,0.0,0.0,25.0,15.0,25.0,20.0,15.0,0.0,9.0,9.0,9.0,10.0,9.0,21.0,2.0,4.0,2.0,7.0,1.0,3.0,15.0,20.0,20.0,15.0,15.0,15.0,35.0,20.0,15.0,20.0,5.0,5.0,6.0,8.0,8.0,8.0,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8355,0,-0.32,0,27.0,2.0,1.0,1.0,6.0,3.0,3.0,40.0,20.0,20.0,20.0,0.0,0.0,60.0,0.0,0.0,40.0,0.0,0.0,7.0,8.0,3.0,8.0,5.0,22.0,1.0,1.0,2.0,7.0,3.0,8.0,20.0,20.0,10.0,15.0,5.0,30.0,40.0,10.0,10.0,10.0,10.0,20.0,3.0,9.0,9.0,9.0,7.0
8377,0,0.01,0,25.0,1.0,1.0,1.0,2.0,1.0,10.0,70.0,0.0,15.0,15.0,0.0,0.0,50.0,0.0,0.0,30.0,0.0,20.0,8.0,7.0,6.0,7.0,7.0,22.0,1.0,1.0,2.0,7.0,3.0,8.0,20.0,20.0,10.0,15.0,5.0,30.0,40.0,10.0,10.0,10.0,10.0,20.0,3.0,9.0,9.0,9.0,7.0

In [25]:
X = df_new.iloc[:, 1:].values
y = df_new.iloc[:, 0].values
X

array([[ 1.4e-01,  0.0e+00,  2.7e+01, ...,  8.0e+00,  8.0e+00,  7.0e+00],
       [ 5.4e-01,  0.0e+00,  2.2e+01, ...,  8.0e+00,  8.0e+00,  7.0e+00],
       [ 1.6e-01,  1.0e+00,  2.2e+01, ...,  8.0e+00,  8.0e+00,  7.0e+00],
       ...,
       [-2.0e-01,  0.0e+00,  3.0e+01, ...,  9.0e+00,  9.0e+00,  7.0e+00],
       [-3.2e-01,  0.0e+00,  2.7e+01, ...,  9.0e+00,  9.0e+00,  7.0e+00],
       [ 1.0e-02,  0.0e+00,  2.5e+01, ...,  9.0e+00,  9.0e+00,  7.0e+00]])

In [26]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=2019)

In [27]:
print(X_train.shape, y_train.shape, X_test.shape, y_test.shape)

(3599, 50) (3599,) (400, 50) (400,)

## Проверка скорости работы на Speed Dating Data

In [28]:
my_clf_dt = MyDecisionTreeClassifier(min_samples_split=2)
clf_dt = DecisionTreeClassifier(min_samples_split=2)

In [29]:
%time my_clf_dt.fit(X_train, y_train)

Wall time: 12.3 s

In [30]:
%time clf_dt.fit(X_train, y_train)

Wall time: 88.3 ms

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

## Проверка качества работы на Speed Dating Data

In [31]:
f1_score(y_pred=clf_dt.predict(X_test), y_true=y_test, average='macro')

0.538143016403886

In [32]:
f1_score(y_pred=my_clf_dt.predict(X_test), y_true=y_test, average='macro')

0.5505108300085568

## Задание 3

In [33]:
print("значения лучших фичей:", -np.sort(-clf_dt.feature_importances_)[:10:])
best_features = np.argsort(-clf_dt.feature_importances_)[:10:]
print("лучшие фичи:", best_features)

значения лучших фичей: [0.10628108 0.04141848 0.0361299  0.03207435 0.03114089 0.02694917
 0.02660248 0.02646655 0.02609291 0.02582334]
лучшие фичи: [ 0 36 45 40 42  2 33 21 37 39]

In [34]:
print("значения лучших фичей:", -np.sort(-my_clf_dt.feature_importances_)[:10:])
my_best_features = np.argsort(-my_clf_dt.feature_importances_)[:10:]
print("лучшие фичи:", my_best_features)

значения лучших фичей: [0.03910753 0.02902866 0.02412711 0.02270804 0.02196992 0.02107974
 0.01806896 0.0162879  0.01625745 0.01530652]
лучшие фичи: [49 12  0 25 46 27 48 44 36 47]

In [35]:
print("лучшие фичи для обоих классификаторов:", np.intersect1d(my_best_features, best_features))

лучшие фичи для обоих классификаторов: [ 0 36]

## Задание 4

In [36]:
param = {
    'criterion': ['gini', 'entropy'],
    'max_depth': [5, 10, 20, 40, 80],
    'min_samples_leaf': [2, 4, 8, 16, 32]}


model = DecisionTreeClassifier()
random_search = RandomizedSearchCV(model, param_distributions=param)
random_search.fit(X, y)

C:\Users\nikol\Anaconda\lib\site-packages\sklearn\model_selection\_split.py:2053: FutureWarning: You should specify a value for 'cv' instead of relying on the default value. The default value will change from 3 to 5 in version 0.22.
  warnings.warn(CV_WARNING, FutureWarning)

RandomizedSearchCV(cv='warn', error_score='raise-deprecating',
          estimator=DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best'),
          fit_params=None, iid='warn', n_iter=10, n_jobs=None,
          param_distributions={'criterion': ['gini', 'entropy'], 'max_depth': [5, 10, 20, 40, 80], 'min_samples_leaf': [2, 4, 8, 16, 32]},
          pre_dispatch='2*n_jobs', random_state=None, refit=True,
          return_train_score='warn', scoring=None, verbose=0)

In [37]:
random_search.best_params_

{'min_samples_leaf': 32, 'max_depth': 5, 'criterion': 'entropy'}

In [38]:
random_search.best_score_

0.8264566141535384

In [39]:
model = DecisionTreeClassifier()
random_search = GridSearchCV(model, param_grid=param)
random_search.fit(X_train, y_train)

C:\Users\nikol\Anaconda\lib\site-packages\sklearn\model_selection\_split.py:2053: FutureWarning: You should specify a value for 'cv' instead of relying on the default value. The default value will change from 3 to 5 in version 0.22.
  warnings.warn(CV_WARNING, FutureWarning)

GridSearchCV(cv='warn', error_score='raise-deprecating',
       estimator=DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best'),
       fit_params=None, iid='warn', n_jobs=None,
       param_grid={'criterion': ['gini', 'entropy'], 'max_depth': [5, 10, 20, 40, 80], 'min_samples_leaf': [2, 4, 8, 16, 32]},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring=None, verbose=0)

In [40]:
random_search.best_params_

{'criterion': 'entropy', 'max_depth': 5, 'min_samples_leaf': 32}

In [41]:
random_search.best_score_

0.8368991386496248